<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breweries</title>
</head>
<body>
    <h2>Select brew style</h2>
    <form action="/search" method="get">
        <select name="style" id="style">
            <option data-th-each="style : ${styleList}" data-th-text="${style.styleName}"></option>
        </select>
        <button type="submit">Search</button>
    </form>
</body>
</html>