<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <form action="/cart" method="post">
        <table>
            <tr>
                <td>Item</td>
                <td><input type="text" name="item"></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><input type="number" name="quantity" min="1" value="1"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Add</button></td>
            </tr>
        </table>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="oi : ${orderItems}">
                <td><span data-th-text="${oi.description}"></span></td>
                <td><span data-th-text="${oi.quantity}"></span></td>
            </tr>
        </tbody>
        <tfoot>
            <form action="/checkout" method="post">
                <tr>
                    <td><button type="submit">Checkout</button></td>
                </tr>
            </form>
            
        </tfoot>
    </table>
</body>
</html>